<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mapper.UserMapper">
    <select id="selectAllUser" resultType="com.it.model.User">
        select * from user
    </select>

    <select id="getUserById" resultType="com.it.model.User">
        select * from user where account=#{id}
    </select>

    <insert id="insertUser" parameterType="com.it.model.User">
        insert into user values (#{account},#{username},#{password},#{userword},#{imageid})
    </insert>

</mapper>